@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: #fafafa;
  font-family: 'Google Sans Flex', sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}
header nav {
  width: 3em;
  padding: .6em 2.75em;
}

header nav:hover {
  cursor: pointer;
  color: burlywood;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

#restaurant-name {
  height: 70vh;
  background-image: url(https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#restaurant-name h1 {
  font-size: 3em;
  color: rgb(241, 239, 238);
  backdrop-filter: blur(1px);
}

.restaurant-intro {
  padding: 3em;
  font-size: larger;
}

.menu-container {
  height: 95vh;
  background-image: url(https://images.unsplash.com/photo-1625173616412-7b403d49a41e?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 50vw;
  display: flex;
  justify-content: flex-end;
}

.centered-container,
.map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.5em;
}
.centered-container {
  width: 50vw;
  margin: 0;
}

.map {
  margin-top: 3em;
}

.map iframe {
  width: 80vw;
  height: 60vh;
  border-radius: 5px;
}

.address-details, .phone-details {
  display: flex;
  gap: .5em;
  padding: 1em;
  font-size: 2em;
  margin: 0 auto;
}

.address-details svg, .phone-details svg {
  height: 1em;
  width: 1em;
}